@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@font-face {
	font-family: CalCans;
	src: url(../fonts/CalSans-SemiBold.woff2) format("woff2"),
		url("../fonts/CalSans-SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}